<div class="container">
  <div class="row">
    <div class="col-md-12">
<%= link_to "List", {:controller => "users", :action => :index}, :class => "btn btn-primary" %>
<div class="container">
  <%#= form_for @study do |f| %>
    <%#= f.file_field :dicom_file_upload, :multiple => true %>
    <%#= f.hidden_field :patient_id, :value => @study[:patient_id] %>
    <%#= f.submit "Upload", :disable_with => 'Uploading...' %>
   <%# end %>
</div>
<%= render 'uploadbar' %>
<table id="studiesTable" class="table table-bordered">
  <thead>
    <tr>
      <th>Description</th>
      <th>Images</th>
      <th>Conducted on</th>
      <th>Updated on</th>
      <th>Comments</th>
      <th>Viewer</th>
    </tr>
  </thead>
  <tbody>
    <% @studies.each do |study| %>
    <tr>
      <td><%= study.study_table.study_desc %></td>
      <td><%= study.num_instances %></td>
      <td><%= study.study_table.study_datetime %></td>
      <td><%= study.updated_at %></td>
      <td><%= link_to "Comments","" %></td>
      <td><%= link_to "View Study","http://localhost:8080/weasis/samples/applet.jsp?commands=%24dicom%3Aget%20-w%20http%3A//localhost%3A8080/weasis-pacs-connector/manifest%3FstudyUID%3D"+study.study_uid %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>