<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<!--[if lt IE 9]>
 <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
 </script>
<![endif]-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
	<head>
	  <title>Telerad</title>
	  <!-- <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/> -->
	  <% if !session[:user_id].nil? %>
	    <%= stylesheet_link_tag 'application', params[:controller], media: 'all',
	                                             'data-turbolinks-track' => true %>
	    <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true %>
	  <% end %>
	  <%= csrf_meta_tags %>
	</head>
	<body class="<%= session[:user_id] ? "page-header-fixed page-quick-sidebar-over-content" : "login" %>" >
		<% if !session[:user_id].nil? %>
			<%= render "layouts/header" %>
			<div class="use-sidebar sidebar-at-right" id="main">
				<div class="page-container">
					<%= render "layouts/side_bar" %>
					<div class="page-content-wrapper">
						<div id="content">
						    <div class="page-content">
								<h3 class="page-title"><%= current_user.name %></h3>
								<div class="page-bar">
									<ul class="page-breadcrumb">
									  <li>
									    <i class="fa fa-home"></i>
									    <%= link_to "Patient List", {:controller => "users", :action => :index}%>
									  </li>
									</ul>
								</div>
								<%= render "layouts/flash" %>

								<%= yield %>
						    </div>
						</div>
					    <div id="sidebar">
					    	<%= render "patients/statusbar" %>
					    </div>
						<a href="#" id="separator"></a>
					    <div class="clearer">&nbsp;</div>
			        </div>
				</div>
			</div>

			<%= render "layouts/footer" %>
	<% else %>
		<%= yield %>
	<% end %>
	</body>
</html>
