<!DOCTYPE html>
<html>
<head>
  <title>Telerad</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:color]== "valid" %>
    <div>
      <p class="alert alert-success"><%= flash[:notice]%></p>
    </div>
  <% elsif flash[:color]== "invalid"%>
    <div>
      <p class="alert alert-danger"><%=flash[:notice]%></p>
    </div>
  <%end%>
<%= yield %>

</body>
</html>
